.dashboard {
  margin-top: 5rem;
  height: 100vh;
  .title {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .dashboard {
    margin-top: 8rem;
    .title {
      font-size: 4rem;
    }
    .desc {
      font-size: 2rem;
    }
  }
}
