.pagination {
  .page-link {
    color: #79043c;
    font-size: 1.4rem;
    border: 1px solid #79043c;
    cursor: pointer;
  }
  .page-link:hover {
    background-color: #79043c;
    color: #f8e9f0;
  }
  .active{
    background-color: #79043c ;
    color: #f8e9f0 ;
  }
}
