.productsShop {
  padding-top: 5rem;
  .title-page {
    color: #79043c;
    padding: 3rem 0;
    font-size: 3rem;
  }
  .msg {
    color: #79043c;
  }
  .btn-error {
    background-color: #79043c;
    color: #fff;
    padding: 20px 10px;
  }
  .btn-error:hover {
    background-color: #5e0530;
  }
  @media (min-width: 640px) {
    padding-top: 10rem;
    .title-page {
      padding: 5rem 0;
    }
  }
}
