.sidebarProducts {
  background-color: #79043c;
  padding: 2rem 1rem;
  margin-bottom: 3rem;

  .input {
    font-size: 15px;
    outline: none;
  }
  .category {
    border: 1px solid #79043c;
    font-size: 15px;
    outline: none;
    color: #212529;
  }
  @media (min-width: 640px) {
    margin-bottom: 0;
  }
}
[data-bs-theme="dark"] .sidebarProducts {
  .category {
    color: rgb(246, 248, 249);
  }
}
