.categories {
    .addCategory {
      background-color: #79043c;
      color: #f8e9f0;
      padding: 7px 10px;
      border: none;
      margin-top: 20px;
      width: 130px;
      text-align: center;
      cursor: pointer;
    }
    .addCategoryBtn {
      border: none;
      background-color: transparent;
      color: #f8e9f0;
      font-size: 12px;
    }
    .iconPlusCategory {
      font-size: 15px;
      margin-left: 10px;
    }
    .addCategory:hover {
      background-color: #504c4e;
    }
    .btn-tryAgain {
      background-color: #79043c;
      color: #f8e9f0;
      border: none;
      padding: 10px 20px;
    }
    .btn-tryAgain:hover {
      background-color: #504c4e;
    }
    .loadingCategoryAdmin {
      color: #79043c;
      margin-top: 5rem;
    }
    .operation-trash {
      color: #79043c;
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
    .operation-edit {
      color: rgb(79, 79, 233);
      height: 30px;
      width: 30px;
      cursor: pointer;
    }
    .operation-trash:hover {
      background-color: #79043c;
      color: #fff;
    }
    .operation-edit:hover {
      background-color: rgb(79, 79, 233);
      color: #fff;
    }
    .table-row th {
      font-size: 12px;
    }
    .table-row td {
      font-size: 8px;
    }
  }
  @media (min-width: 768px) {
    .categories {
      width: 85%;
      .addCategory {
        padding: 10px 25px;
        width: 20rem;
        font-size: 15px;
      }
      .addCategoryBtn {
        font-size: 17px;
      }
      .table-row th {
        font-size: 20px;
      }
      .table-row td {
        font-size: 15px;
      }
    }
  }
  